  @font-face {
  font-family: "Rosewood Std Regular";
  src: url("../fonts/Rosewood.otf") format("opentype"),
       url("../fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"),
       url("../fonts/Rosewood.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }


  .colorfondo{
    background: rgba(253,240,206,0.98);
    background: -moz-linear-gradient(top, rgba(253,240,206,0.98) 4%, rgba(252,229,166,0.98) 15%, rgba(253,210,94,0.98) 34%, rgba(253,210,94,1) 34%, rgba(255,188,5,1) 58%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(4%, rgba(253,240,206,0.98)), color-stop(15%, rgba(252,229,166,0.98)), color-stop(34%, rgba(253,210,94,0.98)), color-stop(34%, rgba(253,210,94,1)), color-stop(58%, rgba(255,188,5,1)), color-stop(72%, rgba(248,181,0,1)), color-stop(100%, rgba(248,181,0,1)));
    background: -webkit-linear-gradient(top, rgba(253,240,206,0.98) 4%, rgba(252,229,166,0.98) 15%, rgba(253,210,94,0.98) 34%, rgba(253,210,94,1) 34%, rgba(255,188,5,1) 58%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 100%);
    background: -o-linear-gradient(top, rgba(253,240,206,0.98) 4%, rgba(252,229,166,0.98) 15%, rgba(253,210,94,0.98) 34%, rgba(253,210,94,1) 34%, rgba(255,188,5,1) 58%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(253,240,206,0.98) 4%, rgba(252,229,166,0.98) 15%, rgba(253,210,94,0.98) 34%, rgba(253,210,94,1) 34%, rgba(255,188,5,1) 58%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 100%);
    background: linear-gradient(to bottom, rgba(253,240,206,0.98) 4%, rgba(252,229,166,0.98) 15%, rgba(253,210,94,0.98) 34%, rgba(253,210,94,1) 34%, rgba(255,188,5,1) 58%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf0ce', endColorstr='#f8b500', GradientType=0 );
  }

  .toolbar-background{
      background: rgba(248,248,248,0.18);
  }
  
  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .textoCentrado{
  	text-align: center;
    margin: 0px auto;
  }

 // .button{
 // 	padding:7%;
 // }

  .dameEspacio{
  	margin-bottom:5%;
  }

  .tituloInicial{
    font-family:"Rosewood Std Regular";
    font-size: 1em;
    letter-spacing:7pt;
    line-height:120%;
    font-weight:500;
    font-style:italic;
    color:rgb(102,76,0);
    text-align:left;
    -webkit-text-stroke:1px rgb(217,217,0);
  }

  .secundarioOeste{
    font-family:"Rosewood Std Regular";
    font-size:20px;
    letter-spacing:7pt;
    line-height:120%;
    font-weight:500;
    font-style:italic;
    color:rgb(102,76,0);
    text-align:left;
    -webkit-text-stroke:1px rgb(217,217,0);
  }

  .consejo:hover{
    background-color:#66CC99;
  }